.video {
    display: flex;
    height: 480px;
    width: 640px;
    background-color: black;
    overflow: hidden;
    align-items: center;
}

.video-container {
    display: flex;
    flex-direction: column;
}

.recording-text {
    align-self: flex-end;
    margin-top: -19px;
    color: red;
}

