#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  display: flex;
}

.video {
  display: flex;
  height: 480px;
  width: 640px;
  background-color: black;
  margin-right: 10px;
  align-items: center;
}

.menu {
  display: flex;
  flex-direction: column;
  min-height: 480px;
  min-width: 420px;
}