.page {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.startbutton {
    margin-bottom: 10px;
}


.form {
    margin: 10px;
}

.select {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}

.input {
    flex: 2;
}

.selector {
    flex: 3;
}