.page {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.startbutton {
    margin-bottom: 20px;
}

.path {
    display: flex;
}

.input {
    flex-grow: 1;
}

.format {
    width: 163.333px;
}

.form {
    margin: 10px;
}

.column_item {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.buttons {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}